
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-uquiv="X-UA-Compatible" content="ie=edge">
</head>
	<body>
		<h1>C.I.R.T</h1>
		<div class="container">
			<form action="/submit" method="POST">
				<div class="form-group">
					<h2>Name</h2>
					<input
						type="text"
						name="student"
						placeholder="Name of Student"
						/>
					
				</div>
				<input type="submit" value="Submit" />
			</form>
		
		</div>
	</body>

</html>


